<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD Modal</title>

    <!--Materialize, instalado del lado de cliente (libman.json)-->
    <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    <!--Material icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/ed33dee0c2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NeoCrudModal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--Sidenav Fixed de Materialize, pero modificado-->
        <ul id="slide-out" class="sidenav sidenav-fixed grey lighten-3">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img class="responsive-img" src="~/imgs/sidenav_bg.jpg" />
                    </div>
                    <a href="#user"><img src="~/imgs/sidenav_icon.png" style="width: 25%; background: white; border-radius: 50%;" /></a>
                    <a href="#name"><span class="white-text name">Carlos Encarnación</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hide-on-med-and-up">menu</i></a>

    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer class="page-footer blue">
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <!--Materialize, instalado del lado de cliente (libman.json)-->
    <script src="~/lib/materialize/js/materialize.min.js"></script>

    @*
    Lo que hace asp-append-version es que agrega un versionado al archivo de tipo site.js, debido a que los navegadores tienden a guardar en caché los arhivos js y css
    por lo que se fuerza a que cada vez ejecutamos nuestra aplicación se aumenta la versión y con ella los cambios realizados a ese archivo
    *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
        
    });

</script>
