@model NeoCrudModal.Models.OcasionModel

@* 
<h1>Edit</h1>

<h4>Ocasione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ocasion" class="control-label"></label>
                <input asp-for="Ocasion" class="form-control" />
                <span asp-validation-for="Ocasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@
<div class="row">
    <div class="divider"></div>
    <form id="formAttach" class="col s12">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="input-field col s8">
                @* <div asp-validation-summary="All" class="helper-text" style="color:red;"></div> *@
                @* <i class="fa-solid fa-gift"></i> *@
                <input asp-for="Ocasion" id="icon_prefix" type="text" class="validate" />
                <label asp-for="Ocasion" for="icon_prefix"></label>
                @* <span asp-validation-for="Ocasion" class="helper-text" style="color: red;"></span> Ojo si funciona, igual lo estoy haciendo como el tutorial *@
                @* <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">First Name</label> *@
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
        </div>
    </form>
</div>
